data/schemas/Release_A/schema/stop/1.2.3/imop-gio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- imop-gio.xsd Generated by script -->
<xs:schema elementFormDefault="qualified"
  targetNamespace="https://standaarden.overheid.nl/stop/imop/gio/" version="1.2.3"
  xmlns:gio="https://standaarden.overheid.nl/stop/imop/gio/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:annotation>
    <xs:documentation source="https://koop.gitlab.io/lvbb/lvbb-ozon/go/goto.html?to=stop&amp;id=xsd:gio">"gio-schema" van STOP. </xs:documentation>
    <xs:documentation>Dit schema definieert de elementen voor de STOP-modules voor gio</xs:documentation>
    <xs:documentation>versie 1.2.3 </xs:documentation>
  </xs:annotation>
  
  <xs:element name="GeografischeContext" type="gio:GeografischeContextType" />
  <xs:complexType name="GeografischeContextType">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="achtergrondVerwijzing" type="xs:string" />
      <xs:element maxOccurs="1" minOccurs="1" name="achtergrondActualiteit" type="xs:date" />
      <xs:element maxOccurs="unbounded" minOccurs="0" name="contextGIOs" type="xs:anyURI" />
      <xs:element maxOccurs="1" minOccurs="0" name="nauwkeurigheid" type="xs:integer" />
    </xs:sequence>
    <xs:attribute name="schemaversie" type="xs:token" use="optional" />
  </xs:complexType>

  <!-- Module JuridischeBorgingVan -->

  <xs:element name="JuridischeBorgingVan">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="gio:Object"/>
      </xs:sequence>
      <xs:attribute name="schemaversie" type="xs:token" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="Object">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="gio:domein"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="gio:domeinObjectID"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="gio:groepID"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="gio:locatieID"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="domein" type="gio:dtNamespace"/>
  <xs:element name="domeinObjectID" type="gio:dtIdentifier"/>
  <xs:element name="groepID" type="gio:dtGroepID"/>
  <xs:element name="locatieID" type="gio:dtUUID"/>
  
  <!-- datatypes -->
  <xs:simpleType name="dtNamespace">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  
  <xs:simpleType name="dtIdentifier">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  
  <xs:simpleType name="dtGroepID">
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-Za-z0-9][A-Za-z0-9_-]*"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="dtUUID">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
