data/schemas/Release_A/schema/stop/1.2.0/imop-bedrijfsregels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
  targetNamespace="https://standaarden.overheid.nl/stop/imop/bedrijfsregels/" version="1.2.0"
  xmlns:br="https://standaarden.overheid.nl/stop/imop/bedrijfsregels/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:annotation>
    <xs:documentation source="https://koop.gitlab.io/lvbb/lvbb-ozon/go/goto.html?to=stop&amp;id=xsd:br">Schema voor het vastleggen van Bedrijfsregels vaor STOP.</xs:documentation>
    <xs:documentation>Dit schema definieert de "Bedrijfsregel" elementen voor de STOP</xs:documentation>
    <xs:documentation>Versie 1.2.0</xs:documentation>
    <xs:documentation>Documentatie op https://koop.gitlab.io/lvbb/lvbb-ozon/go/goto.html?to=stop&amp;id=xsd:br</xs:documentation>
  </xs:annotation>

  <xs:element name="Bedrijfsregels">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="br:versie"/>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="br:Bedrijfsregelgroep"/>
      </xs:sequence>
      <xs:attributeGroup ref="br:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="versie" type="xs:token"/>

  <xs:element name="Bedrijfsregelgroep">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="br:eigenaar"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="br:groepsnaam"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="br:id"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="br:geldtVoor"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="br:geldendeBedrijfsregels"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="eigenaar" type="br:dtWaardeRef"/>
  <xs:element name="eigenaarRef" type="br:dtWaardeRef"/>
  <xs:element name="groepsnaam" type="xs:string"/>
  <xs:element name="id" type="br:idType"/>

  <xs:element name="geldtVoor">
    <xs:complexType>
      <xs:choice>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="br:Documenttype"/>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="br:Regelingtype"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="Documenttype">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="br:localName"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="br:namespace"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="localName" type="xs:Name"/>
  <xs:element name="namespace" type="xs:anyURI"/>

  <xs:element name="Regelingtype">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="br:soortRegeling"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="soortRegeling" type="xs:token"/>

  <xs:element name="geldendeBedrijfsregels">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="br:Bedrijfsregel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Bedrijfsregel">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="br:code"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="br:opmerking"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="br:ernst"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="br:regel"/>
        <xs:sequence maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="1" minOccurs="1" ref="br:eigenaarRef"/>
          <xs:element maxOccurs="1" minOccurs="1" ref="br:codeRef"/>
        </xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="br:beperkingVoor"/>
        <xs:sequence maxOccurs="1" minOccurs="0">
          <xs:element ref="br:implementatieDoorEigenaar"/>
          <xs:element ref="br:melding"/>
        </xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="br:documentatie"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="opmerking" type="xs:string"/>

  <xs:element name="beperkingVoor">
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="br:Element"/>
        <xs:element ref="br:Attribuutgroep"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="Element">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="br:namespace"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="br:localName"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="br:context"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="context"  type="xs:Name"/>

  <xs:element name="Attribuutgroep">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="br:namespace"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="br:localName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="code" type="br:dtCode"/>
  <xs:element name="codeRef" type="xs:NMTOKEN"/>

  <xs:element name="regel">
    <xs:complexType>
      <xs:group maxOccurs="unbounded" minOccurs="0" ref="br:mgBlock"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="implementatieDoorEigenaar">
    <xs:complexType/>
  </xs:element>

  <xs:element name="melding">
    <xs:complexType mixed="true">
      <xs:choice>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="br:var"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="var">
    <xs:complexType>
      <xs:attribute name="naam" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="documentatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="br:link"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="link">
    <xs:complexType mixed="true">
      <xs:attribute name="href" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ernst" type="br:wlErnst"/>

  <xs:attributeGroup name="agSchemaVersie">
    <xs:attribute name="schemaversie" type="br:dtSchemaVersie" use="required"/>
  </xs:attributeGroup>

  <xs:simpleType name="wlErnst">
    <xs:restriction base="xs:token">
      <xs:enumeration value="fout"/>
      <xs:enumeration value="waarschuwing"/>
      <xs:enumeration value="informatief"/>
      <xs:enumeration value="ontraden"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dtCode">
    <xs:restriction base="xs:ID">
      <xs:pattern value="[A-Z]{4}[0-9]{4,5}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="idType">
    <xs:restriction base="xs:ID">
      <xs:pattern value="\c+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dtNulOfEen">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dtWaardeRef">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>

  <xs:simpleType name="dtSchemaVersie">
    <xs:restriction base="xs:token">
      <!--  <xs:pattern
        value="(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-[a-zA-Z][a-zA-Z-]*){0,1}"/> -->
    </xs:restriction>
  </xs:simpleType>

  <!-- ELEMENTEN binnen MIXED CONTENT in regel -->
  <xs:element name="p">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="br:mgInlines"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="ol">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="br:li"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ul">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="br:li"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="li">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="br:mgInlines"/>
        <xs:choice>
          <xs:element ref="br:ol"/>
          <xs:element ref="br:ul"/>
        </xs:choice>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="i">
    <xs:complexType mixed="true">
      <xs:group maxOccurs="unbounded" minOccurs="0" ref="br:mgInlines"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="codeph">
    <xs:complexType mixed="true">
      <xs:group maxOccurs="unbounded" minOccurs="0" ref="br:mgInlines"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="b">
    <xs:complexType mixed="true">
      <xs:group maxOccurs="unbounded" minOccurs="0" ref="br:mgInlines"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="u">
    <xs:complexType mixed="true">
      <xs:group maxOccurs="unbounded" minOccurs="0" ref="br:mgInlines"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="xref">
    <xs:complexType mixed="true">
      <xs:attribute name="href" type="xs:string" use="required"/>
      <xs:attribute name="format" type="br:dtFormat" use="optional"/>
      <xs:attribute name="scope" type="br:dtScope" use="optional"/>
    </xs:complexType>
  </xs:element>
  
  <xs:group name="mgBlock">
    <xs:choice>
      <xs:element ref="br:p"/>
      <xs:element ref="br:ol"/>
      <xs:element ref="br:ul"/>
    </xs:choice>
  </xs:group>

  <xs:group name="mgInlines">
    <xs:choice>
      <xs:element ref="br:i"/>
      <xs:element ref="br:b"/>
      <xs:element ref="br:u"/>
      <xs:element ref="br:codeph"/>
      <xs:element ref="br:xref"/>
    </xs:choice>
  </xs:group>

  <xs:simpleType name="dtFormat">
    <xs:restriction base="xs:token">
      <xs:enumeration value="html"/>
      <xs:enumeration value="zip"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dtScope">
    <xs:restriction base="xs:token">
      <xs:enumeration value="external"/>
      <xs:enumeration value="local"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
