data/schemas/Release_A/schema/stop/1.2.1/imop-data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
  targetNamespace="https://standaarden.overheid.nl/stop/imop/data/" version="1.2.1"
  xmlns:data="https://standaarden.overheid.nl/stop/imop/data/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:annotation>
    <xs:documentation source="https://koop.gitlab.io/lvbb/lvbb-ozon/go/goto.html?to=stop&amp;id=xsd:data">"Data-schema" van STOP. </xs:documentation>
    <xs:documentation>Dit schema definieert de "data"-elementen voor de
      STOP-modules</xs:documentation>
    <xs:documentation>versie 1.2.1</xs:documentation>
  </xs:annotation>
  <!--
  ================================================ 
    Identificatie                                   
  ================================================ 
  -->
  <xs:element name="ExpressionIdentificatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data:FRBRWork"/>
        <xs:element ref="data:FRBRExpression"/>
        <xs:element ref="data:soortWork"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:isTijdelijkDeelVan"/>
      </xs:sequence>
      <xs:attributeGroup ref="data:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="isTijdelijkDeelVan">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data:WorkIdentificatie"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkIdentificatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data:FRBRWork"/>
        <xs:element ref="data:soortWork"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRBRExpression" type="data:dtSTOPidentificatie"/>
  <xs:element name="FRBRWork" type="data:dtSTOPidentificatie"/>
  <xs:element name="soortWork" type="data:dtWaardeRef"/>
  <!--
  ================================================ 
     Metadata-containers                                   
  ================================================ 
  -->
  <xs:element name="BesluitMetadata">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:afkortingen"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:alternatieveTitels"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:heeftCiteertitelInformatie"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:eindverantwoordelijke"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:grondslagen"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:informatieobjectRefs"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:maker"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:officieleTitel"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:onderwerpen"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:rechtsgebieden"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:soortProcedure"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:soortBestuursorgaan"/>
      </xs:all>
      <xs:attributeGroup ref="data:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegelingMetadata">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:afkortingen"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:alternatieveTitels"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:heeftCiteertitelInformatie"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:eindverantwoordelijke"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:grondslagen"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:maker"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:officieleTitel"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:onderwerpen"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:opvolging"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:overheidsdomeinen"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:rechtsgebieden"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:soortRegeling"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:soortBestuursorgaan"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:voorkeursafkorting"/>
      </xs:all>
      <xs:attributeGroup ref="data:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegelingVersieMetadata">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:versienummer"/>
      </xs:all>
      <xs:attributeGroup ref="data:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="OfficielePublicatieMetadata">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:afkortingen"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:alternatieveTitels"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:beginInzagetermijnOp"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:eindeBeroepstermijnOp"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:eindeBezwaartermijnOp"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:eindeInzagetermijnOp"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:eindverantwoordelijke"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:grondslagen"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:heeftCiteertitelInformatie"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:informatieobjectRefs"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:jaargang"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:maker"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:mededelingOver"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:officieleTitel"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:ondertekendOp"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:onderwerpen"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:publicatieIdentifier"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:publicatienaam"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:publicatieblad"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:publicatienummer"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:publiceert"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:rechtsgebieden"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:rectificeert"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:soortProcedure"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:soortPublicatie"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:uitgever"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:soortBestuursorgaan"/>
      </xs:all>
      <xs:attributeGroup ref="data:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="OfficielePublicatieVersieMetadata">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:gepubliceerdOp"/>
      </xs:all>
      <xs:attributeGroup ref="data:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="InformatieObjectMetadata">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:alternatieveTitels"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:eindverantwoordelijke"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:formaatInformatieobject"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:maker"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:naamInformatieObject"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:officieleTitel"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:opvolging"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:publicatieinstructie"/>
      </xs:all>
      <xs:attributeGroup ref="data:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformatieObjectVersieMetadata">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:heeftBestanden"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:heeftGeboorteregeling"/>
      </xs:all>
      <xs:attributeGroup ref="data:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="KennisgevingMetadata">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:eindverantwoordelijke"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:maker"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:officieleTitel"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:onderwerpen"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:mededelingOver"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:soortKennisgeving"/>
      </xs:all>
      <xs:attributeGroup ref="data:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="RectificatieMetadata">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:eindverantwoordelijke"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:informatieobjectRefs"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:maker"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:officieleTitel"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:onderwerpen"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:rectificeert"/>
      </xs:all>
      <xs:attributeGroup ref="data:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <!--
  ================================================ 
     Metadata-elementen                                
  ================================================ 
  -->
  <!-- "bevoegd gezag" -->
  <xs:element name="maker" type="data:dtWaardeRef"/>
  <xs:element name="eindverantwoordelijke" type="data:dtWaardeRef"/>
  <xs:element name="uitgever" type="data:dtWaardeRef"/>
  <xs:element name="soortBestuursorgaan" type="data:dtWaardeRef"/>

  <!-- types -->
  <xs:element name="soortRegeling" type="data:dtWaardeRef"/>
  <xs:element name="formaatInformatieobject" type="data:dtWaardeRef"/>
  <xs:element name="soortPublicatie" type="data:dtWaardeRef"/>
  <xs:element name="soortKennisgeving" default="KennisgevingBesluittermijnen">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="KennisgevingBesluittermijnen"/>
        <xs:enumeration value="KennisgevingVoorgenomenBesluit"/>
        <xs:enumeration value="KennisgevingUitspraakRechter"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
   
  <!-- titels -->
  <xs:element name="alternatieveTitels">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:alternatieveTitel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="alternatieveTitel" type="xs:string"/>
  <xs:element name="officieleTitel" type="xs:string"/>
  <xs:element name="heeftCiteertitelInformatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:CiteertitelInformatie"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CiteertitelInformatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:citeertitel"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:isOfficieel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="citeertitel" type="xs:string"/>
  <xs:element name="isOfficieel" type="xs:boolean"/>
  <xs:element name="afkortingen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:afkorting"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="afkorting" type="xs:token"/>
  <xs:element name="voorkeursafkorting" type="xs:token"/>
  <xs:element name="naamInformatieObject" type="xs:string"/>

  <!-- publicatie-metadata -->
  <xs:element name="publicatieIdentifier" type="xs:token"/>
  <xs:element name="publicatienaam" type="xs:token"/>
  <xs:element name="publicatieblad" type="data:dtWaardeRef"/>
  <xs:element name="jaargang" type="xs:gYear"/>
  <xs:element name="publicatienummer" type="xs:token"/>
  <xs:element name="publiceert" type="data:dtSTOPidentificatie"/>
  <xs:element name="publicatieinstructie">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="AlleenBekendTeMaken"/>
        <xs:enumeration value="Informatief"/>
        <xs:enumeration value="TeConsolideren"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="heeftBestanden">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:heeftBestand"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="heeftBestand">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:Bestand"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bestand">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:bestandsnaam"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:hash"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="hash" type="xs:token"/>
  <xs:element name="bestandsnaam" type="xs:token"/>

  <!-- datums -->
  <xs:element name="gepubliceerdOp" type="xs:date"/>
  <xs:element name="ondertekendOp" type="xs:date"/>
  <xs:element name="beginInzagetermijnOp" type="xs:date"/>
  <xs:element name="eindeInzagetermijnOp" type="xs:date"/>
  <xs:element name="eindeBeroepstermijnOp" type="xs:date"/>
  <xs:element name="eindeBezwaartermijnOp" type="xs:date"/>

  <!-- "inhoudelijke" metadata -->
  <xs:element name="rechtsgebieden">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:rechtsgebied"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rechtsgebied" type="data:dtWaardeRef"/>
  <xs:element name="overheidsdomeinen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:overheidsdomein"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="overheidsdomein" type="data:dtWaardeRef"/>
  <xs:element name="onderwerpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:onderwerp"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onderwerp" type="data:dtWaardeRef"/>

  <xs:element name="versienummer" type="xs:token"/>

  <!-- relaties -->
  <xs:element name="TekstReferentie">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data:uri"/>
        <xs:element ref="data:label"/>
        <xs:element ref="data:soortRef"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="label" type="xs:token"/>
  <xs:element name="soortRef" type="data:wlSoortExtrefNotatie"/>
  <xs:element name="uri" type="xs:anyURI"/>

  <xs:element name="grondslagen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:grondslag"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="grondslag">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:TekstReferentie"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="heeftGeboorteregeling" type="data:dtSTOPidentificatie"/>

  <xs:element name="informatieobjectRefs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:informatieobjectRef"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="informatieobjectRef" type="data:dtSTOPidentificatie"/>
  <xs:element name="eId" type="xs:token"/>

  <xs:element name="opvolging">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:opvolgerVan"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="opvolgerVan" type="data:dtSTOPidentificatie"/>
  <xs:element name="mededelingOver" type="data:dtSTOPidentificatie"/>
  <xs:element name="rectificeert" type="data:dtSTOPidentificatie"/>
  <!--
  ================================================ 
     Procedure                                
  ================================================ 
  -->
  <xs:element name="Procedureverloop">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="data:mgContext"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:procedurestappen"/>
      </xs:sequence>
      <xs:attributeGroup ref="data:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Procedureverloopmutatie">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="data:mgContextMutatie"/>
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" ref="data:voegStappenToe"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="data:vervangStappen"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="data:verwijderStappen"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="data:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="soortProcedure" type="data:dtWaardeRef"/>
  <xs:element name="procedurestappen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:Procedurestap"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Procedurestap">
    <xs:complexType>
      <xs:group ref="data:mgProcedurestap"/>
    </xs:complexType>
  </xs:element>

  <xs:group name="mgProcedurestap">
    <xs:sequence>
      <xs:element ref="data:soortStap"/>
      <xs:element ref="data:voltooidOp"/>
      <xs:element maxOccurs="1" minOccurs="0" ref="data:actor"/>
      <xs:element maxOccurs="1" minOccurs="0" ref="data:meerInformatie"/>
    </xs:sequence>
  </xs:group>

  <xs:element name="Procedurestapref">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data:soortStap"/>
        <xs:element ref="data:datumTeMuterenStap"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="soortStap" type="data:dtWaardeRef"/>
  <xs:element name="voltooidOp" type="xs:date"/>
  <xs:element name="datumTeMuterenStap" type="xs:date"/>
  <xs:element name="actor" type="data:dtWaardeRef"/>
  <xs:element name="meerInformatie" type="xs:anyURI"/>

  <xs:element name="voegStappenToe">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:Procedurestap"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="vervangStappen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" name="Procedurestap">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="data:datumTeMuterenStap"/>
              <xs:group ref="data:mgProcedurestap"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="verwijderStappen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:Procedurestapref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!--
  ================================================ 
     Consolidatie-informatie in Besluit 
  ================================================ 
  -->
  <xs:element name="ConsolidatieInformatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:BeoogdeRegelgeving"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:Intrekkingen"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:Tijdstempels"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:Terugtrekkingen"/>
      </xs:sequence>
      <xs:attributeGroup ref="data:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tijdstempels">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:Tijdstempel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeoogdeRegelgeving">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="1">
          <xs:element ref="data:BeoogdeRegeling"/>
          <xs:element ref="data:BeoogdInformatieobject"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Intrekkingen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:Intrekking"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Terugtrekkingen">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="1">
        <xs:element ref="data:TerugtrekkingRegeling"/>
        <xs:element ref="data:TerugtrekkingInformatieobject"/>
        <xs:element ref="data:TerugtrekkingTijdstempel"/>
        <xs:element ref="data:TerugtrekkingIntrekking"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <!-- beoogde regelgeving -->
  <xs:element name="BeoogdeRegeling">
    <xs:complexType>
      <xs:group ref="data:mgBeoogd"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeoogdInformatieobject">
    <xs:complexType>
      <xs:group ref="data:mgBeoogd"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="mgBeoogd">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" ref="data:doelen"/>
      <xs:element maxOccurs="1" minOccurs="1" ref="data:instrumentVersie"/>
      <xs:element maxOccurs="1" minOccurs="0" ref="data:eId"/>
      <xs:element maxOccurs="1" minOccurs="0" ref="data:gemaaktOpBasisVan"/>
    </xs:sequence>
  </xs:group>

  <xs:element name="Intrekking">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:doelen"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:instrument"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:eId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Tijdstempel">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:doel"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:soortTijdstempel"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:datum"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:eId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="soortTijdstempel" type="data:dtTijdstempeltype"/>
  <xs:simpleType name="dtTijdstempeltype">
    <xs:restriction base="xs:token">
      <xs:enumeration value="geldigVanaf"/>
      <xs:enumeration value="juridischWerkendVanaf"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- terugtrekkingen -->
  <xs:element name="TerugtrekkingRegeling">
    <xs:complexType>
      <xs:group ref="data:mgTerugtrekking"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerugtrekkingInformatieobject">
    <xs:complexType>
      <xs:group ref="data:mgTerugtrekking"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerugtrekkingIntrekking">
    <xs:complexType>
      <xs:group ref="data:mgTerugtrekking"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="mgTerugtrekking">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" ref="data:doelen"/>
      <xs:element maxOccurs="1" minOccurs="1" ref="data:instrumentVersie"/>
      <xs:element maxOccurs="1" minOccurs="0" ref="data:eId"/>
    </xs:sequence>
  </xs:group>

  <xs:element name="TerugtrekkingTijdstempel">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:doel"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:soortTijdstempel"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:eId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- generieke elementen en groepen binnen ConsolidatieInformatie -->
  <xs:element name="doelen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:doel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doel" type="data:dtDoelidentificatie"/>
  <xs:element name="instrument" type="data:dtSTOPidentificatie"/>
  <xs:element name="instrumentVersie" type="data:dtSTOPidentificatie"/>
  <xs:element name="datum" type="xs:date"/>

  <xs:element name="gemaaktOpBasisVan">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="1">
          <xs:element ref="data:Basisversie"/>
          <xs:element ref="data:VervlochtenVersie"/>
          <xs:element ref="data:OntvlochtenVersie"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Basisversie">
    <xs:complexType>
      <xs:group ref="data:mgBranch"/>
    </xs:complexType>
  </xs:element>

  <!-- Samenloop-oplossingen -->
  <xs:element name="VervlochtenVersie">
    <xs:complexType>
      <xs:group ref="data:mgBranch"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="OntvlochtenVersie">
    <xs:complexType>
      <xs:group ref="data:mgBranch"/>
    </xs:complexType>
  </xs:element>

  <xs:group name="mgBranch">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" ref="data:doel"/>
      <xs:element maxOccurs="1" minOccurs="1" ref="data:gemaaktOp"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="gemaaktOp" type="data:dtDateTimeUTC"/>

  <!--
  ================================================ 
     Momentopname voor uitwisseling regelgeving 
     in creatie en voor oplossen samenloop 
  ================================================ 
  -->

  <xs:element name="Momentopname">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:doel"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:gemaaktOp"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:bevatWijzigingenVoor"/>
      </xs:sequence>
      <xs:attributeGroup ref="data:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="bevatWijzigingenVoor">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:UitgewisseldInstrument"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UitgewisseldInstrument">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:FRBRWork"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:gemaaktOpBasisVan"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!--
  ================================================ 
     Relaties tussen annotaties en artikelen
  ================================================ 
  -->

  <xs:element name="Toelichtingsrelaties">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="data:Toelichtingsrelatie"/>
      </xs:sequence>
      <xs:attributeGroup ref="data:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Toelichtingsrelatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:wId"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:toelichtingOp"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="toelichtingOp">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="1">
        <xs:element ref="data:Tekstelement"/>
        <xs:element ref="data:GIO"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="Tekstelement">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:component"/>
        <xs:element ref="data:wId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wId" type="data:dtWID"/>
  <xs:element name="component" type="data:dtComponent"/>

  <xs:element name="GIO">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="data:FRBRExpression"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="data:groepID"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="groepID" type="data:dtGroepID"/>

  <!--
  ================================================ 
     generiek                               
  ================================================ 
  -->
  <!-- ag -->
  <xs:attributeGroup name="agSchemaVersie">
    <xs:attribute name="schemaversie" type="data:dtSchemaVersie" use="optional"/>
  </xs:attributeGroup>

  <!-- mg -->
  <xs:group name="mgContext">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" ref="data:bekendOp"/>
      <xs:element maxOccurs="1" minOccurs="0" ref="data:ontvangenOp"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="mgContextMutatie">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" ref="data:bekendOp"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="bekendOp" type="xs:date"/>
  <xs:element name="ontvangenOp" type="xs:date"/>

  <!-- datatypes -->
  <xs:simpleType name="dtSchemaVersie">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="dtDoelidentificatie">
    <xs:restriction base="data:dtSTOPidentificatie"/>
  </xs:simpleType>
  <xs:simpleType name="dtSTOPidentificatie">
    <xs:restriction base="xs:anyURI">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtWaardeRef">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="dtWID">
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-z0-9\._-]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtComponent">
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-z0-9_]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtGroepID">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Za-z0-9][A-Za-z0-9_-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dtDateTimeUTC">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value=".{19}Z"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- enumeraties -->
  <xs:simpleType name="wlSoortExtrefNotatie">
    <xs:restriction base="xs:string">
      <xs:enumeration value="JCI"/>
      <xs:enumeration value="URL"/>
      <xs:enumeration value="AKN"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
