data/schemas/Release_A/schema/stop/2.0.0/imop-tekst.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
  targetNamespace="https://standaarden.overheid.nl/stop/imop/tekst/" version="2.0.0"
  xmlns:tekst="https://standaarden.overheid.nl/stop/imop/tekst/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation source="https://koop.gitlab.io/lvbb/lvbb-ozon/go/goto.html?to=stop&amp;id=xsd:tekst">"Tekst-schema" van
      STOP.</xs:documentation>
    <xs:documentation>Dit schema definieert de "tekst"-elementen voor de
      STOP-modules</xs:documentation>
    <xs:documentation>versie 2.0.0</xs:documentation>
    <xs:documentation>Documentatie: https://koop.gitlab.io/lvbb/lvbb-ozon/</xs:documentation>
  </xs:annotation>

  <!--  ELEMENTEN -->
  <!-- ROOT REGELINGEN -->
  <xs:element name="RegelingKlassiek">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tekst:RegelingOpschrift"/>
        <xs:element minOccurs="0" ref="tekst:Aanhef"/>
        <xs:element minOccurs="1" ref="tekst:Lichaam"/>
        <xs:element minOccurs="0" ref="tekst:Sluiting"/>
        <xs:group ref="tekst:mgBijlagenVoorRegeling"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agSchemaVersie"/>
      <xs:attributeGroup ref="tekst:agComponentNieuweRegeling"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="RegelingCompact">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tekst:RegelingOpschrift"/>
        <xs:element ref="tekst:Lichaam"/>
        <xs:group ref="tekst:mgBijlagenVoorRegeling"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agSchemaVersie"/>
      <xs:attributeGroup ref="tekst:agComponentNieuweRegeling"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="RegelingTijdelijkdeel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tekst:RegelingOpschrift"/>
        <xs:element name="Lichaam">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="tekst:Conditie"/>
              <xs:group ref="tekst:mgLichaamStructuurTijdelijkdeel"/>
            </xs:sequence>
            <xs:attributeGroup ref="tekst:agAKN"/>
          </xs:complexType>
        </xs:element>
        <xs:group ref="tekst:mgBijlagenVoorRegeling"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agSchemaVersie"/>
      <xs:attributeGroup ref="tekst:agComponentNieuweRegeling"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="RegelingVrijetekst">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tekst:RegelingOpschrift"/>
        <xs:element name="Lichaam">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:group ref="tekst:mgDivisieStructuur"/>
              </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref="tekst:agAKN"/>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tekst:Bijlage"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agSchemaVersie"/>
      <xs:attributeGroup ref="tekst:agComponentNieuweRegeling"/>
    </xs:complexType>
  </xs:element>
  <!-- EINDE ROOT REGELINGEN -->

  <!-- ROOT BESLUITEN -->
  <xs:element name="BesluitKlassiek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tekst:RegelingOpschrift"/>
        <xs:element minOccurs="0" ref="tekst:Aanhef"/>
        <xs:element ref="tekst:RegelingKlassiek"/>
        <xs:element minOccurs="0" ref="tekst:Sluiting"/>
        <xs:group ref="tekst:mgBijlagenVoorBesluit"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="BesluitCompact">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tekst:RegelingOpschrift"/>
        <xs:element minOccurs="0" ref="tekst:Aanhef"/>
        <xs:element ref="tekst:Lichaam"/>
        <xs:element minOccurs="0" ref="tekst:Sluiting"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tekst:WijzigBijlage"/>
        <xs:group ref="tekst:mgBijlagenVoorBesluit"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>
  <!-- EINDE ROOT BESLUITEN -->

  <!-- BEGIN ROOT ANDERS -->
  <xs:element name="Kennisgeving">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tekst:RegelingOpschrift"/>
        <xs:element name="Lichaam">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:sequence>
                <xs:group ref="tekst:mgDivisieStructuur"/>
              </xs:sequence>
            </xs:choice>
            <xs:attributeGroup ref="tekst:agAKN"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Rectificatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tekst:RegelingOpschrift"/>
        <xs:element maxOccurs="1" minOccurs="1" name="Lichaam">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="1" ref="tekst:Rectificatietekst"/>
            </xs:sequence>
            <xs:attributeGroup ref="tekst:agAKN"/>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" ref="tekst:Sluiting"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Tekstrevisie">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="tekst:RegelingMutatie"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="OfficielePublicatie">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="tekst:mgBladen"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>
  <!-- EINDE ROOT -->

  <!-- PUBLICATIES -->
  <xs:element name="Staatscourant">
    <xs:complexType>
      <xs:group ref="tekst:mgBlad"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Staatsblad">
    <xs:complexType>
      <xs:group ref="tekst:mgBlad"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Gemeenteblad">
    <xs:complexType>
      <xs:group ref="tekst:mgBlad"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Provinciaalblad">
    <xs:complexType>
      <xs:group ref="tekst:mgBlad"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Waterschapsblad">
    <xs:complexType>
      <xs:group ref="tekst:mgBlad"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="BladGR">
    <xs:complexType>
      <xs:group ref="tekst:mgBlad"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Bladaanduiding">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="2" ref="tekst:Titelregel"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Titelregel">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesCompleet"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>
  <!-- EINDE PUBLICATIES -->

  <!-- ELEMENTEN FORMEEL -->
  <xs:element name="Bijlage">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tekst:Kop"/>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="1" ref="tekst:Gereserveerd"/>
          <xs:element maxOccurs="1" ref="tekst:Vervallen"/>
        </xs:choice>
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" ref="tekst:InleidendeTekst"/>
          <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="tekst:Divisie"/>
            <xs:element ref="tekst:Divisietekst"/>
          </xs:choice>
        </xs:sequence>
        <xs:element minOccurs="0" ref="tekst:Sluiting"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Toelichting">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="tekst:Kop"/>
        <xs:choice>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" ref="tekst:InleidendeTekst"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="tekst:AlgemeneToelichting"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="tekst:ArtikelgewijzeToelichting"/>
          </xs:sequence>
          <xs:choice maxOccurs="unbounded" minOccurs="1">
            <xs:element ref="tekst:Divisie"/>
            <xs:element ref="tekst:Divisietekst"/>
          </xs:choice>
        </xs:choice>
        <xs:element minOccurs="0" ref="tekst:Sluiting"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tekst:Bijlage"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="AlgemeneToelichting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="tekst:Kop"/>
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" ref="tekst:InleidendeTekst"/>
          <xs:choice maxOccurs="unbounded" minOccurs="1">
            <xs:element ref="tekst:Divisie"/>
            <xs:element ref="tekst:Divisietekst"/>
          </xs:choice>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ArtikelgewijzeToelichting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="tekst:Kop"/>
        <xs:choice>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" ref="tekst:InleidendeTekst"/>
            <xs:choice maxOccurs="unbounded" minOccurs="1">
              <xs:element ref="tekst:Divisie"/>
              <xs:element ref="tekst:Divisietekst"/>
            </xs:choice>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Conditie">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="tekst:Artikel"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Divisietekst">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="tekst:Kop"/>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="1" ref="tekst:Gereserveerd"/>
          <xs:element maxOccurs="1" ref="tekst:Vervallen"/>
        </xs:choice>
        <xs:element maxOccurs="1" minOccurs="0" ref="tekst:Inhoud"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Divisie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="tekst:Kop"/>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="1" ref="tekst:Gereserveerd"/>
          <xs:element maxOccurs="1" ref="tekst:Vervallen"/>
        </xs:choice>
        <xs:element maxOccurs="1" minOccurs="0" ref="tekst:InleidendeTekst"/>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="tekst:Divisie"/>
          <xs:element ref="tekst:Divisietekst"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="InleidendeTekst">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="tekst:Kop"/>
        <xs:choice maxOccurs="unbounded" minOccurs="1">
          <xs:element ref="tekst:Al"/>
          <xs:element ref="tekst:Lijst"/>
          <xs:element ref="tekst:Figuur"/>
          <xs:element ref="tekst:Tussenkop"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAKN"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Inhoud">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="1">
        <xs:group ref="tekst:mgBlocksMinimaal"/>
        <xs:group ref="tekst:mgBlocksVolledig"/>
        <xs:element ref="tekst:Kadertekst"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Kadertekst">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="tekst:Kop"/>
        <xs:choice maxOccurs="unbounded" minOccurs="1">
          <xs:group ref="tekst:mgBlocksMinimaal"/>
          <xs:group ref="tekst:mgBlocksVolledig"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
      <xs:attributeGroup ref="tekst:agAKN"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Gereserveerd">
    <xs:complexType>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Vervallen">
    <xs:complexType>
      <xs:attribute name="wijzigactie" type="tekst:wlWijzigactieBeperkt" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="WijzigBijlage">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="tekst:Kop"/>
        <xs:choice>
          <xs:element ref="tekst:RegelingMutatie"/>
          <xs:group ref="tekst:mgRegelingModellen"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="RegelingMutatie">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="tekst:VoegToe"/>
        <xs:element ref="tekst:Vervang"/>
        <xs:element ref="tekst:VervangKop"/>
        <xs:element ref="tekst:Verwijder"/>
        <xs:element ref="tekst:VervangRegeling"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agComponentMutatie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="VervangRegeling">
    <xs:complexType>
      <xs:choice>
        <xs:group ref="tekst:mgRegelingModellen"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="VervangKop">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence minOccurs="1">
          <xs:element minOccurs="0" ref="tekst:Nummer"/>
          <xs:element minOccurs="0" ref="tekst:Wat"/>
        </xs:sequence>
        <xs:element ref="tekst:Kop"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agVervangKop"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Verwijder">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element minOccurs="0" ref="tekst:Nummer"/>
          <xs:element minOccurs="0" ref="tekst:Wat"/>
        </xs:sequence>
        <xs:choice>
          <xs:group ref="tekst:mgStructuurRegeling"/>
          <xs:element ref="tekst:Lichaam"/>
          <xs:element ref="tekst:Bijlage"/>
          <xs:element ref="tekst:Toelichting"/>
          <xs:element ref="tekst:AlgemeneToelichting"/>
          <xs:element ref="tekst:ArtikelgewijzeToelichting"/>
          <xs:element ref="tekst:WijzigArtikel"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agWat"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="VoegToe">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element minOccurs="0" ref="tekst:Nummer"/>
          <xs:element minOccurs="0" ref="tekst:Wat"/>
        </xs:sequence>
        <xs:choice minOccurs="0">
          <xs:group ref="tekst:mgStructuurRegeling"/>
          <xs:element ref="tekst:Lichaam"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Bijlage"/>
          <xs:element ref="tekst:Toelichting"/>
          <xs:element ref="tekst:AlgemeneToelichting"/>
          <xs:element ref="tekst:ArtikelgewijzeToelichting"/>
          <xs:element ref="tekst:WijzigArtikel"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agWijzigLocatie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Vervang">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element minOccurs="0" ref="tekst:Nummer"/>
          <xs:element minOccurs="0" ref="tekst:Wat"/>
        </xs:sequence>
        <xs:choice>
          <xs:group ref="tekst:mgStructuurRegeling"/>
          <xs:element ref="tekst:Lichaam"/>
          <xs:element ref="tekst:Bijlage"/>
          <xs:element ref="tekst:Toelichting"/>
          <xs:element ref="tekst:AlgemeneToelichting"/>
          <xs:element ref="tekst:ArtikelgewijzeToelichting"/>
          <xs:element ref="tekst:WijzigArtikel"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agVervang"/>
      <xs:attributeGroup ref="tekst:agVerplaatsing"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Wat">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesCompleet"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Rectificatietekst">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="tekst:Kop"/>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="tekst:Al"/>
          <xs:element ref="tekst:Lijst"/>
        </xs:choice>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element ref="tekst:RegelingMutatie"/>
          <xs:element ref="tekst:BesluitMutatie"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="BesluitMutatie">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="VoegToe">
          <xs:complexType>
            <xs:sequence>
              <xs:sequence>
                <xs:element minOccurs="0" ref="tekst:Nummer"/>
                <xs:element minOccurs="0" ref="tekst:Wat"/>
              </xs:sequence>
              <xs:choice>
                <xs:group ref="tekst:mgStructuurRegeling"/>
                <xs:element ref="tekst:Bijlage"/>
                <xs:element ref="tekst:Toelichting"/>
                <xs:element ref="tekst:AlgemeneToelichting"/>
                <xs:element ref="tekst:ArtikelgewijzeToelichting"/>
                <xs:group ref="tekst:mgBesluitMutatieEenheden"/>
              </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref="tekst:agVervang"/>
            <xs:attributeGroup ref="tekst:agWijzigLocatie"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Vervang">
          <xs:complexType>
            <xs:sequence>
              <xs:sequence>
                <xs:element minOccurs="0" ref="tekst:Nummer"/>
                <xs:element minOccurs="0" ref="tekst:Wat"/>
              </xs:sequence>
              <xs:choice>
                <xs:group ref="tekst:mgStructuurRegeling"/>
                <xs:element ref="tekst:Bijlage"/>
                <xs:element ref="tekst:Toelichting"/>
                <xs:element ref="tekst:AlgemeneToelichting"/>
                <xs:element ref="tekst:ArtikelgewijzeToelichting"/>
                <xs:group ref="tekst:mgBesluitMutatieEenheden"/>
                <xs:element ref="tekst:RegelingOpschrift"/>
              </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref="tekst:agVervang"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="tekst:Verwijder"/>
        <xs:element ref="tekst:VervangKop"/>
      </xs:choice>
      <xs:attribute name="componentnaam" type="tekst:dtComponentnaam" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Kop">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="1">
          <xs:sequence>
            <xs:element ref="tekst:Label"/>
            <xs:element minOccurs="0" ref="tekst:Nummer"/>
            <xs:element minOccurs="0" ref="tekst:Opschrift"/>
          </xs:sequence>
          <xs:sequence>
            <xs:element ref="tekst:Nummer"/>
            <xs:element minOccurs="0" ref="tekst:Label"/>
            <xs:element minOccurs="0" ref="tekst:Opschrift"/>
          </xs:sequence>
          <xs:element minOccurs="1" ref="tekst:Opschrift"/>
        </xs:choice>
        <xs:element maxOccurs="1" minOccurs="0" ref="tekst:Subtitel"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Label">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesCompleet"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Nummer">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesZonderKinderen"/>
        <xs:group ref="tekst:mgInlineNoten"/>
        <xs:group ref="tekst:mgInlinesRegulier"/>
        <xs:group ref="tekst:mgInlinesWijzigingen"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Opschrift">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesCompleet"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Subtitel">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesCompleet"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="RegelingOpschrift">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="tekst:Al"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Aanhef">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="1">
          <xs:element ref="tekst:Al"/>
          <xs:element ref="tekst:Lijst"/>
        </xs:choice>
        <xs:element maxOccurs="1" minOccurs="0" ref="tekst:Considerans"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="tekst:Afkondiging"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Considerans">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="1">
          <xs:element ref="tekst:Al"/>
          <xs:element ref="tekst:Lijst"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Afkondiging">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="1">
        <xs:element ref="tekst:Al"/>
        <xs:element ref="tekst:Lijst"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="Groep">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="1">
        <xs:group ref="tekst:mgGroepStructuur"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Lijst">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tekst:Lijstaanhef"/>
        <xs:choice maxOccurs="unbounded" minOccurs="1">
          <xs:element ref="tekst:Li"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="tekst:Lijstsluiting"/>
      </xs:sequence>
      <xs:attribute name="type" type="tekst:wlTypeLijst" use="required">
        <xs:annotation>
          <xs:documentation>Waarde 'expliciet' is de meest voorkomende situatie.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Lijstaanhef">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesCompleet"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Li">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tekst:LiNummer"/>
        <xs:choice maxOccurs="unbounded" minOccurs="1">
          <xs:element ref="tekst:Al"/>
          <xs:element ref="tekst:Figuur"/>
          <xs:element ref="tekst:Formule"/>
          <xs:element ref="tekst:Lijst"/>
          <xs:element ref="tekst:Begrippenlijst"/>
          <xs:element ref="tekst:table"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="LiNummer">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesWijzigingen"/>
        <xs:element ref="tekst:sup"/>
        <xs:element ref="tekst:sub"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="Lijstsluiting">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesCompleet"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="VerwijderdeTekst">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesCompleet"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="NieuweTekst">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesCompleet"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="Citaat">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgBlocksMinimaal"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agCitaat"/>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Ondertekening">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="tekst:Al"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Lichaam">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="tekst:mgLichaamStructuur"/>
        <xs:element minOccurs="0" ref="tekst:Redactioneel"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Boek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="tekst:Kop"/>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="1" ref="tekst:Gereserveerd"/>
          <xs:element maxOccurs="1" ref="tekst:Vervallen"/>
        </xs:choice>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="unbounded" ref="tekst:Deel"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Hoofdstuk"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Paragraaf"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Afdeling"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Titel"/>
          <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="tekst:Artikel"/>
            <xs:element ref="tekst:Redactioneel"/>
            <xs:element ref="tekst:WijzigArtikel"/>
          </xs:choice>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Deel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="tekst:Kop"/>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="1" ref="tekst:Gereserveerd"/>
          <xs:element maxOccurs="1" ref="tekst:Vervallen"/>
        </xs:choice>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="unbounded" ref="tekst:Boek"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Hoofdstuk"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Paragraaf"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Afdeling"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Titel"/>
          <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="tekst:Artikel"/>
            <xs:element ref="tekst:Redactioneel"/>
            <xs:element ref="tekst:WijzigArtikel"/>
          </xs:choice>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Hoofdstuk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="tekst:Kop"/>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="1" ref="tekst:Gereserveerd"/>
          <xs:element maxOccurs="1" ref="tekst:Vervallen"/>
        </xs:choice>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="unbounded" ref="tekst:Boek"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Deel"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Paragraaf"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Afdeling"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Titel"/>
          <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="tekst:Artikel"/>
            <xs:element ref="tekst:Redactioneel"/>
            <xs:element ref="tekst:WijzigArtikel"/>
          </xs:choice>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Afdeling">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="tekst:Kop"/>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="1" ref="tekst:Gereserveerd"/>
          <xs:element maxOccurs="1" ref="tekst:Vervallen"/>
        </xs:choice>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="unbounded" ref="tekst:Boek"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Deel"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Hoofdstuk"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Paragraaf"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Titel"/>
          <xs:choice maxOccurs="unbounded" minOccurs="1">
            <xs:element ref="tekst:Artikel"/>
            <xs:element ref="tekst:Redactioneel"/>
            <xs:element ref="tekst:WijzigArtikel"/>
          </xs:choice>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Titel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="tekst:Kop"/>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="1" ref="tekst:Gereserveerd"/>
          <xs:element maxOccurs="1" ref="tekst:Vervallen"/>
        </xs:choice>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="unbounded" ref="tekst:Boek"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Deel"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Hoofdstuk"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Paragraaf"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Afdeling"/>
          <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="tekst:Artikel"/>
            <xs:element ref="tekst:Redactioneel"/>
            <xs:element ref="tekst:WijzigArtikel"/>
          </xs:choice>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Paragraaf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="tekst:Kop"/>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="1" ref="tekst:Gereserveerd"/>
          <xs:element maxOccurs="1" ref="tekst:Vervallen"/>
        </xs:choice>
        <xs:choice>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tekst:Subparagraaf"/>
          <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="tekst:Artikel"/>
            <xs:element ref="tekst:WijzigArtikel"/>
            <xs:element ref="tekst:Redactioneel"/>
          </xs:choice>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Subparagraaf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="tekst:Kop"/>
        <xs:choice>
          <xs:element maxOccurs="1" minOccurs="0" ref="tekst:Gereserveerd"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="tekst:Vervallen"/>
        </xs:choice>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="unbounded" ref="tekst:Subsubparagraaf"/>
          <xs:choice maxOccurs="unbounded" minOccurs="1">
            <xs:element ref="tekst:Artikel"/>
            <xs:element ref="tekst:WijzigArtikel"/>
            <xs:element ref="tekst:Redactioneel"/>
          </xs:choice>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Subsubparagraaf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="tekst:Kop"/>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element maxOccurs="1" ref="tekst:Gereserveerd"/>
          <xs:element maxOccurs="1" ref="tekst:Vervallen"/>
        </xs:choice>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="tekst:Artikel"/>
          <xs:element ref="tekst:WijzigArtikel"/>
          <xs:element ref="tekst:Redactioneel"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Artikel">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" ref="tekst:Kop"/>
        <xs:choice maxOccurs="2">
          <xs:element maxOccurs="1" ref="tekst:Gereserveerd"/>
          <xs:element maxOccurs="1" ref="tekst:Vervallen"/>
          <xs:element maxOccurs="1" ref="tekst:Inhoud"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Lid"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Lid">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tekst:LidNummer"/>
        <xs:element ref="tekst:Inhoud"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="LidNummer">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="tekst:VerwijderdeTekst"/>
        <xs:element ref="tekst:NieuweTekst"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="WijzigArtikel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="tekst:Kop"/>
        <xs:element minOccurs="1" ref="tekst:Wat"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="tekst:OpmerkingVersie"/>
        <xs:choice minOccurs="0">
          <xs:element maxOccurs="unbounded" ref="tekst:WijzigLid"/>
          <xs:element maxOccurs="1" ref="tekst:WijzigInstructies"/>
          <xs:element maxOccurs="1" ref="tekst:RegelingMutatie"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="WijzigLid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="tekst:LidNummer"/>
        <xs:choice>
          <xs:element minOccurs="0" ref="tekst:Wat"/>
          <xs:element ref="tekst:WijzigInstructies"/>
          <xs:element ref="tekst:RegelingMutatie"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="WijzigInstructies">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="tekst:Wat"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tekst:Instructie"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Instructie">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="tekst:Nummer"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="tekst:Wat"/>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:group ref="tekst:mgInstructieStructuur"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="OpmerkingVersie">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlineReferenties"/>
        <xs:group ref="tekst:mgInlinesRegulier"/>
        <xs:group ref="tekst:mgInlinesZonderKinderen"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="Redactioneel">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="tekst:Al"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Sluiting">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="1">
        <xs:element ref="tekst:Groep"/>
        <xs:element ref="tekst:Al"/>
        <xs:element ref="tekst:Slotformulering"/>
        <xs:element ref="tekst:Dagtekening"/>
        <xs:element ref="tekst:Ondertekening"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
      <xs:attribute name="wijzigactie" type="tekst:wlWijzigactieBeperkt" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Slotformulering">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="1">
        <xs:element ref="tekst:Al"/>
        <xs:element ref="tekst:Groep"/>
        <xs:element ref="tekst:Lijst"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="Dagtekening">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="tekst:Al"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Motivering">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tekst:Kop"/>
        <xs:choice>
          <xs:element maxOccurs="unbounded" ref="tekst:Divisietekst"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tekst:Divisie"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="tekst:Sluiting"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tekst:Bijlage"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
      <xs:attributeGroup ref="tekst:agSchemaVersie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Inhoudsopgave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tekst:Kop"/>
        <xs:choice>
          <xs:element ref="tekst:table"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Al"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
      <xs:attributeGroup ref="tekst:agAKN"/>
    </xs:complexType>
  </xs:element>
  <!-- EINDE ELEMENTEN FORMEEL -->

  <!-- TABLE CALS -->
  <xs:element name="table">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="tekst:title"/>
        <xs:element maxOccurs="unbounded" ref="tekst:tgroup"/>
        <xs:element minOccurs="0" ref="tekst:Bron"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agTable"/>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Bron">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesCompleet"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="tgroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tekst:colspec"/>
        <xs:element minOccurs="0" ref="tekst:thead"/>
        <xs:element ref="tekst:tbody"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agTableGroup"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="thead">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tekst:row"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agTableHead"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="tbody">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tekst:row"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agTableBody"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="title">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesZonderKinderen"/>
        <xs:group ref="tekst:mgInlineNoten"/>
        <xs:group ref="tekst:mgInlinesRegulier"/>
        <xs:group ref="tekst:mgInlinesWijzigingen"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="colspec">
    <xs:complexType>
      <xs:attributeGroup ref="tekst:agColspec"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="row">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tekst:entry"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agTableRow"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="entry">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgBlocksEntry"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agTableEntry"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
    </xs:complexType>
  </xs:element>
  <!-- EINDE TABLE CALS -->
  <!-- TEKST CONTAINERS -->
  <xs:element name="Al">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesCompleet"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Begrippenlijst">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tekst:Begrip"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Begrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tekst:LiNummer"/>
        <xs:element ref="tekst:Term"/>
        <xs:element ref="tekst:Definitie"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Term">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesZonderKinderen"/>
        <xs:group ref="tekst:mgInlineNoten"/>
        <xs:group ref="tekst:mgInlinesRegulier"/>
        <xs:group ref="tekst:mgInlinesWijzigingen"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Definitie">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="tekst:Al"/>
        <xs:element ref="tekst:Lijst"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Figuur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Titel">
          <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:group ref="tekst:mgInlinesCompleet"/>
            </xs:choice>
            <xs:attributeGroup ref="tekst:agWijzigactie"/>
            <xs:attributeGroup ref="tekst:agAlgemeen"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="tekst:Illustratie"/>
        <xs:element minOccurs="0" ref="tekst:Bijschrift"/>
        <xs:element minOccurs="0" ref="tekst:Bron"/>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Formule">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="1" minOccurs="1">
          <xs:element ref="tekst:Illustratie"/>
        </xs:choice>
        <xs:sequence>
          <xs:element minOccurs="0" ref="tekst:Bijschrift"/>
          <xs:element minOccurs="0" ref="tekst:Bron"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="InlineTekstAfbeelding">
    <xs:complexType>
      <xs:attributeGroup ref="tekst:agInlineTekstAfbeelding"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Illustratie">
    <xs:complexType>
      <xs:attributeGroup ref="tekst:agIllustratie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Bijschrift">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesCompleet"/>
      </xs:choice>
      <xs:attribute name="locatie" type="tekst:wlPositieBijschrift" use="required"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Tussenkop">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesZonderKinderen"/>
        <xs:group ref="tekst:mgInlineNoten"/>
        <xs:group ref="tekst:mgInlinesRegulier"/>
        <xs:group ref="tekst:mgInlinesWijzigingen"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>
  <!-- EINDE TEKST CONTAINERS -->
  <!-- INLINES -->
  <xs:element name="i">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="tekst:b"/>
        <xs:element ref="tekst:u"/>
        <xs:element ref="tekst:strong"/>
        <xs:group ref="tekst:mgInlinesZonderKinderen"/>
        <xs:group ref="tekst:mgInlineNoten"/>
        <xs:group ref="tekst:mgInlinesWijzigingen"/>
        <xs:group ref="tekst:mgInlineReferenties"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="b">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="tekst:i"/>
        <xs:element ref="tekst:u"/>
        <xs:element ref="tekst:strong"/>
        <xs:group ref="tekst:mgInlinesZonderKinderen"/>
        <xs:group ref="tekst:mgInlineNoten"/>
        <xs:group ref="tekst:mgInlinesWijzigingen"/>
        <xs:group ref="tekst:mgInlineReferenties"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="u">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="tekst:b"/>
        <xs:element ref="tekst:i"/>
        <xs:element ref="tekst:strong"/>
        <xs:group ref="tekst:mgInlinesZonderKinderen"/>
        <xs:group ref="tekst:mgInlineNoten"/>
        <xs:group ref="tekst:mgInlinesWijzigingen"/>
        <xs:group ref="tekst:mgInlineReferenties"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="strong">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="tekst:b"/>
        <xs:element ref="tekst:u"/>
        <xs:element ref="tekst:i"/>
        <xs:group ref="tekst:mgInlinesZonderKinderen"/>
        <xs:group ref="tekst:mgInlineNoten"/>
        <xs:group ref="tekst:mgInlinesWijzigingen"/>
        <xs:group ref="tekst:mgInlineReferenties"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="sup" type="xs:string"/>

  <xs:element name="sub" type="xs:string"/>

  <xs:element name="abbr">
    <xs:complexType mixed="true">
      <xs:attribute name="title" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ExtRef">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesZonderKinderen"/>
        <xs:group ref="tekst:mgInlinesWijzigingen"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agExtrefRefSoort"/>
      <xs:attributeGroup ref="tekst:agDoelReferentie"/>
      <xs:attribute name="scope" type="tekst:dtScope" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Noot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tekst:NootNummer"/>
        <xs:choice maxOccurs="unbounded" minOccurs="1">
          <xs:element ref="tekst:Al"/>
          <xs:element ref="tekst:Lijst"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="tekst:wlTypeNoot" use="required"/>
      <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="NootNummer" type="tekst:dtNootNummerLengte"/>

  <xs:element name="Nootref">
    <xs:complexType>
      <xs:attribute name="refid" type="xs:NMTOKEN" use="required"/>
      <xs:attributeGroup ref="tekst:agWijzigactie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="IntRef">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesZonderKinderen"/>
        <xs:group ref="tekst:mgInlinesWijzigingen"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agDoelReferentie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
      <xs:attribute name="scope" type="tekst:dtScope" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ExtIoRef">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesZonderKinderen"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agDoelReferentie"/>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="IntIoRef">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="tekst:mgInlinesZonderKinderen"/>
        <xs:group ref="tekst:mgInlinesWijzigingen"/>
      </xs:choice>
      <xs:attributeGroup ref="tekst:agAlgemeen"/>
      <xs:attributeGroup ref="tekst:agAKN"/>
      <xs:attributeGroup ref="tekst:agDoelReferentie"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="br">
    <xs:complexType/>
  </xs:element>

  <xs:element name="Contact">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="tekst:agContactgegevens"/>
    </xs:complexType>
  </xs:element>
  <!-- EINDE INLINES -->
  <!-- EINDE ELEMENTEN -->
  <!-- GROEPEN -->
  <!-- GROEPEN VOOR ROOT CONSTRUCTIES -->
  <xs:group name="mgRegelingModellen">
    <xs:choice>
      <xs:element ref="tekst:RegelingCompact"/>
      <xs:element ref="tekst:RegelingTijdelijkdeel"/>
      <xs:element ref="tekst:RegelingVrijetekst"/>
    </xs:choice>
  </xs:group>

  <xs:group name="mgBijlagenVoorRegeling">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="tekst:Bijlage"/>
      <xs:choice maxOccurs="1" minOccurs="0">
        <xs:element ref="tekst:Toelichting"/>
        <xs:element ref="tekst:ArtikelgewijzeToelichting"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:group name="mgBijlagenVoorBesluit">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="tekst:Bijlage"/>
      <xs:sequence>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element ref="tekst:Toelichting"/>
          <xs:element ref="tekst:ArtikelgewijzeToelichting"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="tekst:Motivering"/>
        <xs:element minOccurs="0" ref="tekst:Inhoudsopgave"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>

  <xs:group name="mgLichaamStructuurTijdelijkdeel">
    <xs:sequence>
      <xs:choice minOccurs="1">
        <xs:element maxOccurs="unbounded" ref="tekst:Deel"/>
        <xs:element maxOccurs="unbounded" ref="tekst:Hoofdstuk"/>
        <xs:element maxOccurs="unbounded" ref="tekst:Paragraaf"/>
        <xs:element maxOccurs="unbounded" ref="tekst:Afdeling"/>
        <xs:element maxOccurs="unbounded" ref="tekst:Titel"/>
        <xs:element maxOccurs="unbounded" ref="tekst:Artikel"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:group name="mgLichaamStructuur">
    <xs:sequence>
      <xs:choice minOccurs="1">
        <xs:element maxOccurs="unbounded" ref="tekst:Boek"/>
        <xs:element maxOccurs="unbounded" ref="tekst:Deel"/>
        <xs:element maxOccurs="unbounded" ref="tekst:Hoofdstuk"/>
        <xs:element maxOccurs="unbounded" ref="tekst:Paragraaf"/>
        <xs:element maxOccurs="unbounded" ref="tekst:Afdeling"/>
        <xs:element maxOccurs="unbounded" ref="tekst:Titel"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element maxOccurs="unbounded" ref="tekst:WijzigArtikel"/>
          <xs:element maxOccurs="unbounded" ref="tekst:Artikel"/>
        </xs:choice>
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:group name="mgDivisieStructuur">
    <xs:choice>
      <xs:element ref="tekst:Divisie"/>
      <xs:element ref="tekst:Divisietekst"/>
    </xs:choice>
  </xs:group>

  <xs:group name="mgInstructieStructuur">
    <xs:choice>
      <xs:element ref="tekst:Boek"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Deel"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Hoofdstuk"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Paragraaf"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Afdeling"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Titel"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Artikel"/>
      <xs:element maxOccurs="unbounded" ref="tekst:WijzigArtikel"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Divisie"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Divisietekst"/>
      <xs:element ref="tekst:Inhoud"/>
      <xs:element ref="tekst:Bijlage"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Lid"/>
    </xs:choice>
  </xs:group>

  <xs:group name="mgBladen">
    <xs:sequence>
      <xs:choice maxOccurs="1">
        <xs:element ref="tekst:Staatscourant"/>
        <xs:element ref="tekst:Staatsblad"/>
        <xs:element ref="tekst:Gemeenteblad"/>
        <xs:element ref="tekst:Provinciaalblad"/>
        <xs:element ref="tekst:Waterschapsblad"/>
        <xs:element ref="tekst:BladGR"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:group name="mgBlad">
    <xs:sequence>
      <xs:element ref="tekst:Bladaanduiding"/>
      <xs:choice maxOccurs="1">
        <xs:element ref="tekst:BesluitCompact"/>
        <xs:element ref="tekst:BesluitKlassiek"/>
        <xs:element ref="tekst:Kennisgeving"/>
        <xs:element ref="tekst:Rectificatie"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:group name="mgInlineReferenties">
    <xs:choice>
      <xs:element ref="tekst:ExtRef"/>
      <xs:element ref="tekst:IntRef"/>
      <xs:element ref="tekst:ExtIoRef"/>
      <xs:element ref="tekst:IntIoRef"/>
    </xs:choice>
  </xs:group>

  <xs:group name="mgInlinesWijzigingen">
    <xs:choice>
      <xs:element ref="tekst:VerwijderdeTekst"/>
      <xs:element ref="tekst:NieuweTekst"/>
    </xs:choice>
  </xs:group>

  <xs:group name="mgInlinesCompleet">
    <xs:choice>
      <xs:element ref="tekst:i"/>
      <xs:element ref="tekst:b"/>
      <xs:element ref="tekst:u"/>
      <xs:element ref="tekst:sub"/>
      <xs:element ref="tekst:sup"/>
      <xs:element ref="tekst:strong"/>
      <xs:element ref="tekst:abbr"/>
      <xs:element ref="tekst:br"/>
      <xs:element ref="tekst:Nootref"/>
      <xs:element ref="tekst:Noot"/>
      <xs:element ref="tekst:VerwijderdeTekst"/>
      <xs:element ref="tekst:NieuweTekst"/>
      <xs:element ref="tekst:ExtRef"/>
      <xs:element ref="tekst:IntRef"/>
      <xs:element ref="tekst:ExtIoRef"/>
      <xs:element ref="tekst:IntIoRef"/>
      <xs:element ref="tekst:InlineTekstAfbeelding"/>
      <xs:element ref="tekst:Contact"/>
    </xs:choice>
  </xs:group>

  <xs:group name="mgInlinesZonderKinderen">
    <xs:choice>
      <xs:element ref="tekst:sub"/>
      <xs:element ref="tekst:sup"/>
      <xs:element ref="tekst:abbr"/>
      <xs:element ref="tekst:br"/>
      <xs:element ref="tekst:InlineTekstAfbeelding"/>
      <xs:element ref="tekst:Contact"/>
    </xs:choice>
  </xs:group>

  <xs:group name="mgInlinesRegulier">
    <xs:choice>
      <xs:element ref="tekst:i"/>
      <xs:element ref="tekst:b"/>
      <xs:element ref="tekst:u"/>
      <xs:element ref="tekst:strong"/>
    </xs:choice>
  </xs:group>

  <xs:group name="mgInlineNoten">
    <xs:choice>
      <xs:element ref="tekst:Nootref"/>
      <xs:element ref="tekst:Noot"/>
    </xs:choice>
  </xs:group>

  <xs:group name="mgGroepStructuur">
    <xs:choice>
      <xs:element ref="tekst:Al"/>
      <xs:element ref="tekst:Lijst"/>
      <xs:element ref="tekst:Figuur"/>
      <xs:element ref="tekst:Formule"/>
    </xs:choice>
  </xs:group>

  <xs:group name="mgBlocksMinimaal">
    <xs:choice>
      <xs:element ref="tekst:Al"/>
      <xs:element ref="tekst:Groep"/>
      <xs:element ref="tekst:Begrippenlijst"/>
      <xs:element ref="tekst:Lijst"/>
      <xs:element ref="tekst:Figuur"/>
      <xs:element ref="tekst:Tussenkop"/>
      <xs:element ref="tekst:Formule"/>
    </xs:choice>
  </xs:group>

  <xs:group name="mgBlocksEntry">
    <xs:choice>
      <xs:element ref="tekst:Al"/>
      <xs:element ref="tekst:Groep"/>
      <xs:element ref="tekst:Lijst"/>
      <xs:element ref="tekst:Figuur"/>
      <xs:element ref="tekst:Tussenkop"/>
      <xs:element ref="tekst:Formule"/>
    </xs:choice>
  </xs:group>

  <xs:group name="mgBlocksVolledig">
    <xs:choice>
      <xs:element ref="tekst:Citaat"/>
      <xs:element ref="tekst:table"/>
    </xs:choice>
  </xs:group>

  <xs:group name="mgStructuurRegeling">
    <xs:choice>
      <xs:element maxOccurs="unbounded" ref="tekst:Afdeling"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Artikel"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Boek"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Deel"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Hoofdstuk"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Paragraaf"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Subparagraaf"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Subsubparagraaf"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Titel"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Divisie"/>
      <xs:element maxOccurs="unbounded" ref="tekst:Divisietekst"/>
    </xs:choice>
  </xs:group>

  <xs:group name="mgBesluitMutatieEenheden">
    <xs:choice>
      <xs:element ref="tekst:Aanhef"/>
      <xs:element ref="tekst:Sluiting"/>
    </xs:choice>
  </xs:group>
  <!-- EINDE GROEPEN -->

  <!-- ATTRIBUTEN -->
  <xs:attributeGroup name="agAlgemeen">
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agSchemaVersie">
    <xs:attribute name="schemaversie" type="tekst:dtSchemaVersie" use="optional"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agAKN">
    <xs:attribute name="wId" type="xs:NMTOKEN" use="required"/>
    <xs:attribute name="eId" type="xs:NMTOKEN" use="required"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agComponentMutatie">
    <xs:attribute name="componentnaam" type="tekst:dtComponentnaam" use="required"/>
    <xs:attribute name="was" type="xs:anyURI" use="required"/>
    <xs:attribute name="wordt" type="xs:anyURI" use="required"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agComponentNieuweRegeling">
    <xs:attribute name="wordt" type="xs:anyURI" use="optional"/>
    <xs:attribute name="componentnaam" type="tekst:dtComponentnaam" use="optional"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agWijzigactie">
    <xs:attribute name="wijzigactie" type="tekst:wlWijzigactieElementen" use="optional"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agExtrefRefSoort">
    <xs:attribute name="soort" type="tekst:wlSoortExtrefNotatie" use="required"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agCitaat">
    <xs:attribute name="bron"/>
    <xs:attribute name="url"/>
    <xs:attribute name="auteur"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agDoelReferentie">
    <xs:attribute name="ref" type="xs:anyURI" use="required"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agIllustratie">
    <xs:attribute name="naam" use="required"/>
    <xs:attribute name="breedte" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="hoogte" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="schaal"/>
    <xs:attribute name="uitlijning" type="tekst:wlUitlijningIllustratie" use="required"/>
    <xs:attribute name="kleur" type="tekst:dtNulOfEen"/>
    <xs:attribute name="formaat" type="tekst:wlFormaatIllustratie" use="required"/>
    <xs:attribute name="alt"/>
    <xs:attribute name="dpi" type="xs:positiveInteger" use="required"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agInlineTekstAfbeelding">
    <xs:attribute name="naam" use="required"/>
    <xs:attribute name="breedte" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="hoogte" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="schaal"/>
    <xs:attribute name="kleur" type="tekst:dtNulOfEen"/>
    <xs:attribute name="formaat" type="tekst:wlFormaatIllustratie" use="required"/>
    <xs:attribute name="alt"/>
    <xs:attribute name="dpi" type="xs:positiveInteger" use="required"/>
  </xs:attributeGroup>
  
  <xs:attributeGroup name="agWat">
    <xs:attribute name="wat" use="required"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agVervangKop">
    <xs:attributeGroup ref="tekst:agWat"/>
    <xs:attribute name="eId-wordt" type="xs:NMTOKEN" use="optional"/>
  </xs:attributeGroup>
  
  <xs:attributeGroup name="agVervang">
    <xs:attributeGroup ref="tekst:agWat"/>
    <xs:attribute name="revisie" type="tekst:wlRevisie" use="optional"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agWijzigLocatie">
    <xs:attribute name="positie" type="tekst:wlPositieWijziging" use="required"/>
    <xs:attribute name="context" type="xs:NMTOKEN" use="required"/>
  </xs:attributeGroup>
  
  <xs:attributeGroup name="agVerplaatsing">
    <xs:attribute name="positie" type="tekst:wlPositieWijziging" use="optional"/>
    <xs:attribute name="context" type="xs:NMTOKEN" use="optional"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agContactgegevens">
    <xs:attribute name="adres" type="xs:string" use="required"/>
    <xs:attribute name="soort" type="tekst:wlSoortContact" use="required"/>
  </xs:attributeGroup>

  <!-- ATTRIBUTEN CALS TABLE -->
  <xs:attributeGroup name="agTable">
    <xs:attribute name="frame" type="tekst:wlTableFrame"/>
    <xs:attribute name="colsep" type="tekst:dtNulOfEen"/>
    <xs:attribute name="rowsep" type="tekst:dtNulOfEen"/>
    <xs:attribute name="pgwide" type="tekst:dtNulOfEen"/>
    <xs:attribute name="tabstyle" type="xs:NMTOKEN"/>
    <xs:attribute name="orient" type="tekst:wlTableOrientatie"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agTableGroup">
    <xs:attribute name="cols" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="colsep" type="tekst:dtNulOfEen"/>
    <xs:attribute name="rowsep" type="tekst:dtNulOfEen"/>
    <xs:attribute name="char"/>
    <xs:attribute name="charoff" type="xs:positiveInteger"/>
    <xs:attribute name="align" type="tekst:wlTableAlignHorizontal" use="required"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agTableHead">
    <xs:attribute name="valign" type="tekst:wlTableAlignVertical" use="required"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agTableBody">
    <xs:attribute name="valign" type="tekst:wlTableAlignVertical" use="required"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agColspec">
    <xs:attribute name="colname" type="xs:NMTOKEN"/>
    <xs:attribute name="colnum" type="xs:positiveInteger"/>
    <xs:attribute name="colsep" type="tekst:dtNulOfEen"/>
    <xs:attribute name="rowsep" type="tekst:dtNulOfEen"/>
    <xs:attribute name="colwidth" type="tekst:dtColWidth"/>
    <xs:attribute name="align" type="tekst:wlTableAlignHorizontal"/>
    <xs:attribute name="char"/>
    <xs:attribute name="charoff" type="xs:positiveInteger"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agTableRow">
    <xs:attribute name="rowsep" type="xs:NMTOKEN"/>
    <xs:attribute name="valign" type="tekst:wlTableAlignVertical"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="agTableEntry">
    <xs:attribute name="colname" type="xs:NMTOKEN"/>
    <xs:attribute name="namest" type="xs:NMTOKEN"/>
    <xs:attribute name="nameend" type="xs:NMTOKEN"/>
    <xs:attribute name="morerows" type="xs:positiveInteger"/>
    <xs:attribute name="colsep" type="tekst:dtNulOfEen"/>
    <xs:attribute name="rowsep" type="tekst:dtNulOfEen"/>
    <xs:attribute name="align" type="tekst:wlTableAlignHorizontal"/>
    <xs:attribute name="char" type="xs:string"/>
    <xs:attribute name="charoff" type="xs:positiveInteger"/>
    <xs:attribute name="valign" type="tekst:wlTableAlignVertical"/>
    <xs:attribute name="rotate" type="tekst:dtNulOfEen"/>
  </xs:attributeGroup>
  <!-- EINDE ATTRIBUTEN CALS TABLE -->
  <!-- EINDE ATTRIBUTEN -->

  <!-- WAARDELIJSTEN -->
  <xs:simpleType name="wlPositieWijziging">
    <xs:restriction base="xs:string">
      <xs:enumeration value="volgtOp"/>
      <xs:enumeration value="komtVoor"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlFormaatIllustratie">
    <xs:restriction base="xs:token">
      <xs:enumeration value="image/jpeg"/>
      <xs:enumeration value="image/png"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlKleurIllustratie">
    <xs:restriction base="xs:token">
      <xs:enumeration value="ja"/>
      <xs:enumeration value="nee"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlUitlijningIllustratie">
    <xs:restriction base="xs:token">
      <xs:enumeration value="start"/>
      <xs:enumeration value="end"/>
      <xs:enumeration value="center"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlTableFrame">
    <xs:restriction base="xs:string">
      <xs:enumeration value="top"/>
      <xs:enumeration value="bottom"/>
      <xs:enumeration value="topbot"/>
      <xs:enumeration value="all"/>
      <xs:enumeration value="sides"/>
      <xs:enumeration value="none"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlTableAlignHorizontal">
    <xs:restriction base="xs:token">
      <xs:enumeration value="left"/>
      <xs:enumeration value="right"/>
      <xs:enumeration value="center"/>
      <xs:enumeration value="justify"/>
      <xs:enumeration value="char"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlTableAlignVertical">
    <xs:restriction base="xs:token">
      <xs:enumeration value="top"/>
      <xs:enumeration value="middle"/>
      <xs:enumeration value="bottom"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlWijzigactieElementen">
    <xs:restriction base="xs:string">
      <xs:enumeration value="verwijder"/>
      <xs:enumeration value="voegtoe"/>
      <xs:enumeration value="nieuweContainer"/>
      <xs:enumeration value="verwijderContainer"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlSoortExtrefNotatie">
    <xs:restriction base="xs:token">
      <xs:enumeration value="URL"/>
      <xs:enumeration value="AKN"/>
      <xs:enumeration value="JOIN"/>
      <xs:enumeration value="JCI"/>
      <xs:enumeration value="document"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlTypeLijst">
    <xs:restriction base="xs:string">
      <xs:enumeration value="expliciet"/>
      <xs:enumeration value="ongemarkeerd"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlTypeNoot">
    <xs:restriction base="xs:token">
      <xs:enumeration value="voet"/>
      <xs:enumeration value="marge"/>
      <xs:enumeration value="eind"/>
      <xs:enumeration value="tabel"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlTypeIntIoRef">
    <xs:restriction base="xs:token">
      <xs:enumeration value="vaststellend"/>
      <xs:enumeration value="verwijzing"/>
      <xs:enumeration value="inhoud"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlPositieBijschrift">
    <xs:restriction base="xs:token">
      <xs:enumeration value="boven"/>
      <xs:enumeration value="onder"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlTableOrientatie">
    <xs:restriction base="xs:token">
      <xs:enumeration value="land"/>
      <xs:enumeration value="port"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlSoortContact">
    <xs:restriction base="xs:token">
      <xs:enumeration value="e-mail"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlRevisie">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wlWijzigactieBeperkt">
    <xs:restriction base="xs:string">
      <xs:enumeration value="geen"/>
      <xs:enumeration value="voegtoe"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- EINDE WAARDELIJSTEN -->

  <!-- DATATYPES -->
  <xs:simpleType name="dtSchemaVersie">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="dtComponentnaam">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-z_]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dtScope">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9A-z_\-\.]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dtNulOfEen">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dtNootNummerLengte">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dtColWidth">
    <xs:restriction base="xs:string">
      <xs:pattern value="\*"/>
      <xs:pattern value="([0-9\.]+(\*|mm|cm|pi|pt|in))"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- EINDE DATATYPES -->
</xs:schema>
